@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "home";

@import "layouts/navbar";

@import "users/sign_up";
@import "users/sign_in";
@import "users/show";
@import "users/edit";

@import "users/index";
@import "matching/index";
